#div.hide { display: none; }

#draggable {
    position: fixed;
    top: 90%;
    right: 10%;
    z-index: 1000;
}
.numberCircle {
    display:inline-block;
    line-height:0px;

    border-radius:50%;
    border:0.1em solid #666;
    background: white;
    color: #666;
    font-size:32px;
}

.numberCircle span {
    display:inline-block;

    padding-top:50%;
    padding-bottom:50%;

    margin-left:8px;
    margin-right:8px;
}




#loading {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0; /*set to a negative number 1/2 of your height*/
    margin-left: 0; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    position:fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 100;
    top: 50%;
    left: 50%;
}

/* -------------------------------- File#: _1_prop-table Title: Property Table Descr: A table used to display a list of properties and their values Usage: codyhouse.co/license -------------------------------- */
 .prop-table__cell {
     table-layout: auto;
	 padding: 0.75em;
	 border-bottom: 1px solid #d3d3d4;
}
 .prop-table__cell--th {
	 font-weight: bold;
	 text-align: left;
}